

    <mat-dialog-content>
      <h1 mat-dialog-title> Modifier le contact </h1>
      <mat-form-field  [formGroup]="contactForm" style="width : 400px;">
          <input matInput placeholder="firstName" formControlName="firstName" [(ngModel)]="contact.firstName" >
      </mat-form-field>
      <br>
      <mat-form-field  [formGroup]="contactForm" style="width : 400px;">
        <input matInput placeholder="lastName" formControlName="lastName" [(ngModel)]="contact.lastName">
     </mat-form-field>
     <br>
      <mat-form-field  [formGroup]="contactForm" style="width : 400px;">
        <input matInput placeholder="email" formControlName="email" [(ngModel)]="contact.email">
     </mat-form-field>
     <br>
      <mat-form-field [formGroup]="contactForm"style="width : 400px;">
        <input matInput placeholder="address" formControlName="address">
    </mat-form-field>
    <br>
    <br>
    <ng-select 
      [items]="phones"
      bindLabel="phoneNumber"
      bindValue="idPhoneNumber"
      [multiple]="true"
      [(ngModel)]="selectedPhoneIds">
    </ng-select>
    <br> 
    <ng-select 
      [items]="groupes"
      bindLabel="label"
      bindValue="idContactGroup"
      [multiple]="true"
      [(ngModel)]="selectedGroupeIds">
    </ng-select>
  </mat-dialog-content>
  
  <div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" (click)="save()">Valider</button>
    <button mat-button class="mat-focus-indicator mat-raised-button mat-button-base mat-raised" (click)="close()">Annuler</button>
  </div>

  
