

    <mat-dialog-content style="width : 600px; height: 1500px; background-color:aliceblue">
      <h2 mat-dialog-title style="text-align : center;"> Modifier le contact </h2>
      <mat-form-field  [formGroup]="contactForm" style="width : 500px;">
          <input matInput placeholder="firstName" formControlName="firstName" [(ngModel)]="contact.firstName">
      </mat-form-field>
      <br>
      <mat-form-field  [formGroup]="contactForm"style="width : 500px;">
        <input matInput placeholder="lastName" formControlName="lastName" [(ngModel)]="contact.lastName">
     </mat-form-field>
     <br>
      <mat-form-field  [formGroup]="contactForm" style="width : 500px;">
        <input matInput placeholder="email" formControlName="email" [(ngModel)]="contact.email">
     </mat-form-field>
     <br>
      <mat-form-field [formGroup]="contactForm" style="width : 500px;">
        <input matInput placeholder="address" formControlName="address">
    </mat-form-field>
    <br>
    <br>
    <ng-select 
      [items]="phones"
      bindLabel="phoneNumber"
      bindValue="phoneNumber"
      [addTag]="addPhone"
      [multiple]="true"
      placeholder="Modifier les numéros de téléphones"
      [(ngModel)]="selectedPhones"
      style="width : 500px;">
      >
    </ng-select>
    <br> 
    <ng-select 
      #select
      [items]="groupes"
      bindLabel="label"
      bindValue="label"
      [addTag]="addGroupe"
      [multiple]="true"
      placeholder="Modifier les groupes"
      [(ngModel)]="selectedGroupes"
      style="width : 500px;"
      >
    </ng-select>
  </mat-dialog-content>
  
  <div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" style="width : 170px;" (click)="save()">Valider</button>
    <button mat-button class="mat-focus-indicator mat-raised-button mat-button-base mat-raised"  style="width : 170px;" (click)="close()">Annuler</button>
  </div>

  
