

    <mat-dialog-content [formGroup]="contactForm">
      <h2 mat-dialog-title> Modifier le contact </h2>
      <mat-form-field>
          <input matInput placeholder="firstName" formControlName="firstName" [(ngModel)]="contact.firstName">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="lastName" formControlName="lastName" [(ngModel)]="contact.lastName">
     </mat-form-field>
     <br>
      <mat-form-field>
        <input matInput placeholder="email" formControlName="email" [(ngModel)]="contact.email">
     </mat-form-field>
     <br>
      <mat-form-field>
        <input matInput placeholder="address" formControlName="address">
    </mat-form-field>
    <br>
  </mat-dialog-content>
  
  <div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" (click)="save()">Valider</button>
    <button mat-button class="mat-focus-indicator mat-raised-button mat-button-base mat-raised" (click)="close()">Annuler</button>
  </div>

  
