
<h1 mat-dialog-title>
  Liste des groupes à retirer
</h1>

<div mat-dialog-content>
  <div *ngIf ="groupOfContactList == []">
    <p>Aucun groupe à retirer, on vous invite à en ajouter.</p>
  </div>
  <tbody >
    <tr *ngFor="let group of groupOfContactList">
        <td><h2 style="margin-top: 30%;">{{ group.label }}</h2></td>
        
        <td style="padding-left: 100px;">
          <button class="btn btn-primary" (click) = "deleteGroupFromContact(group.idContactGroup,contact.idContact)" mat-raised-button color="primary"  style="width : 80px; float: right;"> Retirer</button>
        </td>
       
      </tr>    
  <tbody>
</div>
<div mat-dialog-actions style="float: right;">
  <button mat-raised-button color="Disabled" (click)="close()">Fermer</button>
</div>

