
    <mat-dialog-content style="width : 600px; height: 1500px; background-color:aliceblue" >

      <h2 mat-dialog-title style="text-align : center;">Ajouter un nouveau contact</h2>
      <mat-form-field [formGroup]="contactForm" style="width : 500px;">
          <input matInput placeholder="firstName" formControlName="firstName">
      </mat-form-field>
      <br>
      <mat-form-field [formGroup]="contactForm" style="width : 500px;">
        <input matInput placeholder="lastName" formControlName="lastName">
     </mat-form-field>
     <br>
      <mat-form-field [formGroup]="contactForm" style="width : 500px;">
        <input matInput placeholder="email" formControlName="email">
     </mat-form-field>
     <br>
      <mat-form-field [formGroup]="contactForm" style="width : 500px;">
        <input matInput placeholder="address" formControlName="addressLabel">
    </mat-form-field>

  <br>
  <ng-select 
    [items]="phones"
    bindLabel="phoneNumber"
    bindValue="idPhoneNumber"
    [addTag]="addPhone"
    [multiple]="true"
    placeholder="Ajouter un ou plusieurs téléphones au contact"
    [(ngModel)]="selectedPhoneIds" style="width : 500px;">
  </ng-select>
  
  </mat-dialog-content>
  <br><br>
  <div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary"  style="width : 170px;" (click)="save()">Valider</button>
    <button type="button" mat-raised-button  style="width : 170px;" (click)="close()">Annuler</button>
  </div> 

  
