

    <mat-dialog-content [formGroup]="contactForm">
      <h2 mat-dialog-title>Ajouter un nouveau contact</h2>
      <mat-form-field>
          <input matInput placeholder="firstName" formControlName="FirstName">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="lastName" formControlName="LastName">
     </mat-form-field>
     <br>
      <mat-form-field>
        <input matInput placeholder="email" formControlName="Email">
     </mat-form-field>
     <br>
      <mat-form-field>
        <input matInput placeholder="address" formControlName="Address">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="phone number" formControlName="Phone number">
  </mat-form-field>
    <br>
  </mat-dialog-content>
  
  <div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" (click)="save()">Valider</button>
    <button mat-button class="mat-focus-indicator mat-raised-button mat-button-base mat-raised" (click)="close()">Annuler</button>
  </div>

  
